@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color-light: #fff;
  --text-color-light: #000;
  --bg-color-dark: #222;
  --text-color-dark: #fff;
  --bg-color-elevation1: #444;
  --interactive: #d0383e;

  --text-color: var(--text-color-light);
  --bg-color: var(--bg-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
    --bg-color: var(--bg-color-dark);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.info {
  background-color: rgba(0, 133, 242, 0.1);
}

.info::before {
  content: 'ⓘ';
  margin-right: 0.5em;
}

.warning {
  background-color: #f0e498;
}

.warning::before {
  content: '⚠️';
  margin-right: 0.5em;
}

.alert {
  background-color: rgba(208, 56, 62, 0.3);
}

.alert::before {
  content: '✕';
  margin-right: 0.5em;
}
